*{
   box-sizing: border-box; 
   margin:0;
   padding:0;
}

html {
	font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

body {
    position: relative;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/*LAYOUT overlay*/

.container-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    visibility: visible;
    z-index:10;
}

.btn-close{
    position: absolute;
    top: 20px;
    left: +50px;
    background-color: rgb(223, 17, 17);
    color:white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;

    
}

/*LAYOUT*/

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 0;
}

.col{
    width: calc(100% / 3);
    padding: 10px;
}
/*debug rules*/

.debug .container {
    border: 1px solid violet;
}

.debug .row{
    border: 2px solid red;
}

.debug .col{
    border: 2px solid blue;
}

/*components*/

.card{
    position: relative;
    background-color: white;
    border: 2px solid rgb(8, 8, 8); 
    max-width: 250px;
    padding: 15px 15px;  
}
 
.pin-img{
    position: absolute;
    right: 100px;
    top: -10px;
}

.img-card{ 
    display: block; 
    width: 100%;
    height: 100%;
    object-fit: cover;
	object-position: center;
}

.card-box {      
    border: 1px solid lightslategray;
    height: 100%;  
}

.card-body{
    margin-top: 10px;
}

/*Header*/ 

.white-header {
	background-image: url(../img/wall.png);
	color: rgb(0, 0, 0);
	padding: 10px 0;
    text-align: center;
}

.heading{
    text-transform: uppercase;
}

.bg-table-cork{
    background-image: url(../img/cork.png);
    max-height: 100%;
}

/* layout responsive mobile first */

/* extra small */

@media (max-width: 600px) {
    .col
    {
        width: 100% 
    }
}

/* sm */

@media (min-width: 601px) {
    .col
    {
        width: 100% 
    }
}

/* md */

@media (min-width: 768px) {
    .col
    {
        width: calc(100% / 2);
    }
}

/* lg */

@media (min-width: 992px) {
    .col
    {
        width: calc(100% / 3);
    }
}
