*{
   box-sizing: border-box; 
   margin:0;
   padding:0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/*LAYOUT*/

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 0;
}

.col{
    width: calc(100% / 3);
    padding: 10px;
}
/*debug rules*/

.debug .container {
    border: 1px solid violet;
}

.debug .row{
    border: 2px solid red;
}

.debug .col{
    border: 2px solid blue;
}

/*components*/

.card{
    background-color: white;
    border: 2px solid rgb(8, 8, 8); 
    max-width: 250px;
    padding: 20px;  
}
 

.card-box {
    background-image: url('https://picsum.photos/200/200');
    background-size: contain;
    border: 1px solid lightslategray;
    margin: 0 auto;
    display: block;
    width: 100%;
    aspect-ratio: 1;
   /* object-fit: cover;
	object-position: center;*/
}

.card-body{
    margin-top: 10px;
}

/*Header*/ 

.white-header {
	background-image: url(../img/wall.png);
	color: rgb(0, 0, 0);
	padding: 20px 0;
    text-align: center;
}

.heading{
    text-transform: uppercase;
}

.bg-table-cork{
    background-image: url(../img/cork.png);
    max-height: 60%;
}

/* layout responsive mobile first */

/* extra small */

@media (max-width: 600px) {
    .col
    {
        width: 100% 
    }
}

/* sm */

@media (min-width: 601px) {
    .col
    {
        width: 100% 
    }
}

/* md */

@media (min-width: 768px) {
    .col
    {
        width: calc(100% / 2);
    }
}

/* lg */

@media (min-width: 992px) {
    .col
    {
        width: calc(100% / 3);
    }
}
